.container {
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dude {
    position: relative;
}

.head {
    position: relative;
    left: 12.5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
}

.body {
    width: 75px;
    height: 125px;
    border-radius: 25px;
    background-color: black;
}

.leftArm,
.rightArm {
    position: absolute;
    top: 70px;
    left: -5px;
    transition: transform 0.5s ease;
    transform: rotate(135deg);
    background-color: red;
}

.rightArm {
    left: 80px;
    transform: rotate(225deg);
}

.arm {
    position: absolute;
    left: -7.5px;
    top: -52.6px;
    width: 15px;
    height: 60px;
    background-color: black;
    box-shadow: 0 0 4px white;
    border-radius: 7.5px;
}

.pole {
    position: absolute;
    left: -2.5px;
    top: -152.5px;
    width: 5px;
    height: 100px;
    background-color: black;
    box-shadow: 0 0 4px white;
}

.flag {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    left: -52.5px;
    top: -152.5px;
}

.leftArm .flag {
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: transparent transparent transparent yellow;
}

.rightArm .flag {
    left: 2.5px;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent yellow transparent;
}
